
@import "../sway/config.d/catppuccin-mocha";

window {
    border: 3px solid #b7bdf8;
    background: #24273a;
}

#text {
    color: #cad3f5;
}
#input {
    border: 2px solid #b7bdf8;
    background:  #181926;
    color: #cad3f5
}
#entry {
    background-color: #24273a;
}
#entry:selected {
    background-color: #c6a0f6;
}
#entry arrow {
    color: #cad3f5;
}
#expander-box {
    color: #cad3f5;
    #text {
        margin-left: 30px;
    }
}
#inner-box {
    padding:3px;
}